<launch>
   <include file="$(find decision)/launch/bias.launch">
        <arg name="drone_id" value="1"/>
        <arg name="drone_num" value="6"/>
   </include>
   <include file="$(find decision)/launch/bias.launch">
        <arg name="drone_id" value="2"/>
        <arg name="drone_num" value="6"/>
   </include>
   <include file="$(find decision)/launch/bias.launch">
        <arg name="drone_id" value="3"/>
        <arg name="drone_num" value="6"/>
   </include>
   <include file="$(find decision)/launch/bias.launch">
        <arg name="drone_id" value="4"/>
        <arg name="drone_num" value="6"/>
   </include>
   <include file="$(find decision)/launch/bias.launch">
        <arg name="drone_id" value="5"/>
        <arg name="drone_num" value="6"/>
   </include>
   <include file="$(find decision)/launch/bias.launch">
        <arg name="drone_id" value="6"/>
        <arg name="drone_num" value="6"/>
   </include>
   <include file="$(find decision)/launch/drone.launch">
        <arg name="drone_id" value="1"/>
        <arg name="drone_num" value="6"/>
   </include>
   <include file="$(find decision)/launch/drone.launch">
        <arg name="drone_id" value="2"/>
        <arg name="drone_num" value="6"/>
   </include>
   <include file="$(find decision)/launch/drone.launch">
        <arg name="drone_id" value="3"/>
        <arg name="drone_num" value="6"/>
   </include>
   <include file="$(find decision)/launch/drone.launch">
        <arg name="drone_id" value="4"/>
        <arg name="drone_num" value="6"/>
   </include>
   <include file="$(find decision)/launch/drone.launch">
        <arg name="drone_id" value="5"/>
        <arg name="drone_num" value="6"/>
   </include>
   <include file="$(find decision)/launch/drone.launch">
        <arg name="drone_id" value="6"/>
        <arg name="drone_num" value="6"/>
   </include>
</launch>