<launch>
   <arg name="drone_id" default="1" />
   <arg name="drone_num" default="3" />
   <node pkg="decision" type="origin_bias.py" name="pose_cor_$(arg drone_id)" output="screen">
        <param name="drone_id" value="$(arg drone_id)"/>
        <param name="drone_num" value="$(arg drone_num)"/>
   </node>
</launch>