<launch>
   <arg name="ip" default="192.168.199.140" />
   <arg name="mav_x" default="-188" />
   <arg name="mav_y" default="-192" />
   <arg name="mav_z" default="0" />
   <node pkg="rflysim_ros_pkg" type="Rflysim_objwithsize.py" name="obj_control" output="screen">
        <param name="ip" value="$(arg ip)"/>
        <param name="mav_x" value="$(arg mav_x)"/>
        <param name="mav_y" value="$(arg mav_y)" />
        <param name="mav_z" value="$(arg mav_z)" />
   </node>
</launch>