<launch>
   <arg name="IP" value="192.168.0.1" />
   <group ns="drone_1">
      <arg name="ID" value="1"/>
      <arg name="fcu_url" default="udp://:20101@$(arg IP):20100"/>
      <!-- MAVROS -->
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_2">
      <arg name="ID" value="2"/>
      <arg name="fcu_url" default="udp://:20103@$(arg IP):20102"/>
      <!-- MAVROS -->
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_3">
      <arg name="ID" value="3"/>
      <arg name="fcu_url" default="udp://:20105@$(arg IP):20104"/>
      <!-- MAVROS -->
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_4">
      <arg name="ID" value="4"/>
      <arg name="fcu_url" default="udp://:20107@$(arg IP):20106"/>
      <!-- MAVROS -->
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_5">
      <arg name="ID" value="5"/>
      <arg name="fcu_url" default="udp://:20109@$(arg IP):20108"/>
      <!-- MAVROS -->
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_6">
      <arg name="ID" value="6"/>
      <arg name="fcu_url" default="udp://:20111@$(arg IP):20110"/>
      <!-- MAVROS -->
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
</launch>
   <!-- <group ns="drone_7">
      <arg name="ID" value="7"/>
      <arg name="fcu_url" default="udp://:20113@$(arg IP):20112"/>
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_8">
      <arg name="ID" value="8"/>
      <arg name="fcu_url" default="udp://:20115@$(arg IP):20114"/>
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_9">
      <arg name="ID" value="9"/>
      <arg name="fcu_url" default="udp://:20117@$(arg IP):20116"/>
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_10">
      <arg name="ID" value="10"/>
      <arg name="fcu_url" default="udp://:20119@$(arg IP):20118"/>
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_11">
      <arg name="ID" value="11"/>
      <arg name="fcu_url" default="udp://:20121@$(arg IP):20120"/>
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
   <group ns="drone_12">
      <arg name="ID" value="12"/>
      <arg name="fcu_url" default="udp://:20123@$(arg IP):20122"/>
      <include file="$(find mavros)/launch/px4.launch">
         <arg name="fcu_url" value="$(arg fcu_url)"/>
         <arg name="gcs_url" value=""/>
         <arg name="tgt_system" value="$(arg ID)"/>
         <arg name="tgt_component" value="1"/>
      </include>
   </group>
</launch> -->