<launch>
    <arg name="host_ip" default="192.168.1.167" />
    <arg name="origin_x" default="-188" />
    <arg name="origin_y" default="-192" />
    <arg name="origin_z" default="0" />

    <include file="$(find rflysim_ros_pkg)/launch/multi_mavros.launch" />
        <arg name="IP" value="$(arg host_ip)" />
    <include file="$(find decision)/launch/multi_drone.launch" />
    <include file="$(find visualization)/launch/multi_visual_launch.launch" />
        <arg name="ip" value="$(arg host_ip)"/>
        <arg name="mav_x" value="$(arg origin_x)"/>
        <arg name="mav_y" value="$(arg origin_y)" />
        <arg name="mav_z" value="$(arg origin_z)" />
</launch>